@model Черга.Models.Queue

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Queue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnabledDate" class="control-label"></label>
                <input asp-for="EnabledDate" class="form-control" />
                <span asp-validation-for="EnabledDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="@Html.GetEnumSelectList<QueueType>()"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            @* <div>
                <label for="Type">Queue Type:</label>
                <select name="Type" required>
                    <option value="OrderedByJoinDate">Ordered By Join Date</option>
                    <option value="Random">Random</option>
                </select>
            </div> *@
            <div class="form-group">
                <label asp-for="GroupId" class="control-label"></label>
                <select asp-for="GroupId" class ="form-control" asp-items="ViewBag.GroupId" @* disabled="true" *@></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
