@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Цей сайт для займання черги студентами ПМА-32✨</a>.</p>
    <p>Зареєструйтеся та поринайте в майбутнє без суперечок хто наступний піде задавати лабу🧚</a>.</p>
    <p></a></p>
    <p>Спосіб займання черги можна вибирати з великої кількості веселих міні-ігор та конкурсів🎉.</p>
    <p>НАПРИКЛАД*: <br>"хто швидше тицьне на кнопку", "турнір по хрестиках ноликах", "тест IQ", "кількість кубків в бравл старс", @* "знання таблиці x<sup>2</sup> з книжки Петра Степановича НАПАМ'ЯТЬ", *@ ну і стандартне покер,@* дуелі, *@ рандом, і для нудних є варіант "по списку"</a>.</p>
    <p></a></p>
    <p><small><small><small>* - приклади наведені суто в ознайомчих цілях щодо потенціалу сайту та для привернення уваги, наявність у фінальній версії не гарантується<small><small><small></a></p>
</div>
